/* inner card padding */
    /* .card{
    padding: 10%;
    border-radius: 2px;
    border: 2px solid '33ab9f'; 
        */
/* this one refers to the full card but not values within */
.container{
    display: block;
    width: 50%;
    margin: auto;
}

/* this one refers to both key and value pairs */
.column {
    float: left;
    width: 50%;
    height: 30%;
    font-size: 21px;
    text-align: left;
    font-weight: 30em;
}
.row{
    padding: 20px;
}
/* Just refer to the label side */
.label{
    text-transform: capitalize;
    cursor: not-allowed;
}

/* for the displayed editable info */
.myLabelClass{
    cursor: text;
}
.myLabelClass:hover{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
}

/* this edits the word pinder that is on top of the paw print */
.paw {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.1em;
    font-weight: bold;
    line-height: 3.7em;
    color: rgb(36, 35, 33);
    
}

